<div class="loginBox"> <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
    <h3>Sign in here</h3>
    <form [formGroup]="loginform" (ngSubmit)="onSubmit()">
        <div style="display: flex; flex-direction: column;gap: 30px;">
              <input type="text" class="form-control" placeholder="UserName" formControlName="username">
              <div *ngIf="!loginform.controls.username?.valid&&(loginform.controls.username?.dirty||loginform.controls.username?.touched)">
                <pre style="color: aliceblue;">Tên đăng nhập không để trống</pre>
              </div>
              <input type="password" class="form-control" placeholder="Password" formControlName="password">
              <div *ngIf="!loginform.controls.password?.valid&&(loginform.controls.password?.dirty||loginform.controls.password?.touched)">
                <pre style="color: aliceblue;">Mật khẩu không nhỏ hơn 6 kí tự</pre>
              </div>
              <button class="btn btn-primary" type="submit">Đăng nhập</button>
              <div class="mess">
                {{mess}}
              </div>
        </div>
    </form>  
    <a href="#">Forget Password<br> </a>
    <div class="text-center">
        <p style="color: #59238F;">Sign-Up</p>
    </div>
    
</div>