<div class="container">
    <div style="max-width: 500px; margin: auto; padding: 50px 0;">
        <form [formGroup]="loginform" (ngSubmit)="onSubmit()">
            <div style="display: flex; flex-direction: column;gap: 30px;">
                <input type="text" class="form-control" placeholder="Họ tên" formControlName="username">
                <div
                    *ngIf="!loginform.controls.username?.valid&&(loginform.controls.username?.dirty||loginform.controls.username?.touched)">
                    <pre>Họ tên không để trống !!!</pre>
                </div>
                <input type="text" class="form-control" placeholder="Address" formControlName="address">
                <div
                    *ngIf="!loginform.controls.address?.valid&&(loginform.controls.address?.dirty||loginform.controls.address?.touched)">
                    <pre>Địa chỉ không để trống !!!</pre>
                </div>
                <input type="text" class="form-control" placeholder="Số điện thoại" formControlName="phone">
                <div
                    *ngIf="!loginform.controls.phone?.valid&&(loginform.controls.phone?.dirty||loginform.controls.phone?.touched)">
                    <pre>Số điện thoại không để trống !!!</pre>
                </div>
                <input type="text" class="form-control" placeholder="Email" formControlName="email">
                <div
                    *ngIf="!loginform.controls.email?.valid&&(loginform.controls.email?.dirty||loginform.controls.email?.touched)">
                    <pre>Email không để trống !!!</pre>
                </div>
                <input type="number" class="form-control" placeholder="Cmnd" formControlName="cmnd">
                <div
                    *ngIf="!loginform.controls.cmnd?.valid&&(loginform.controls.cmnd?.dirty||loginform.controls.cmnd?.touched)">
                    <div *ngIf="!loginform.controls.cmnd?.valid && (loginform.controls.cmnd?.dirty || loginform.controls.cmnd?.touched)" class="error-message">
                        CMND phải từ 9 kí tự và phải là số !!!
                    </div>
                </div>
                <button class="btn btn-danger list_all" type="submit">Send</button>
                <div *ngIf="infor !== ''" style="margin-top: 20px; border: 1px solid #ccc; padding: 10px; border-radius: 8px;">
                    <h2 style="color: #343a40; font-size: 18px; margin-bottom: 10px;">Thông tin:</h2>
                    <p style="margin: 5px 0;">{{ infor }}</p>
                </div>
            </div>
        </form>
    </div>
</div>